<button mat-raised-button class="back" (click)="clickBack()"> Inapoi </button>
<a class="profile2">Detalii camion:</a>
<mat-card class="card2">
  <div class="elem-div">
    <a class="elem">Id:</a>
    <a class="elem2">{{idCamion}}</a>
  </div>
  <div class="elem-div">
    <a class="elem">Status:</a>
    <a class="elem2">{{status}}</a>
  </div>
  <div class="elem-div">
    <a class="elem">Locatie:</a>
    <a class="elem2">{{locatie}}</a>
  </div>
  <div class="elem-div">
    <a class="elem">Volum:</a>
    <a class="elem2">{{volum}}</a>
  </div>
  <div class="elem-div">
    <a class="elem">Gabarit:</a>
    <a class="elem2">{{gabarit}}</a>
  </div>
  <div class="elem-div">
    <a class="elem">Greutate:</a>
    <a class="elem2">{{greutate}}</a>
  </div>
  <div class="elem-div">
    <a class="elem">Detalii:</a>
    <a class="elem2">{{detaliiCamion}}</a>
  </div>
</mat-card>
