<button mat-raised-button class="menu" (click)="clickMenu()"> Meniu </button>
<button mat-raised-button class="myOffers" (click)="clickMyOffers()"> Ofertele mele </button>

<mat-card class="create-offer-card">
  <mat-toolbar class="toolbar">
    <mat-toolbar-row>
      <h1 class="toolbar-title">Detalii Oferta</h1>
    </mat-toolbar-row>
  </mat-toolbar>

  <div class="offer-dialog">
    <form [formGroup]="createOfferDetailsForm">
      <div class="elem">
        <mat-form-field appearance="fill">
          <mat-label> Data plecare (AAAA-LL-ZZ)</mat-label>
          <input matInput formControlName="dataPlecare">
        </mat-form-field>
      </div>

      <div class="elem">
        <mat-form-field appearance="fill">
          <mat-label> Data sosire  (AAAA-LL-ZZ)</mat-label>
          <input matInput formControlName="dataSosire">
        </mat-form-field>
      </div>

      <div class="elem">
        <mat-form-field appearance="fill">
          <mat-label> Loc plecare </mat-label>
          <input matInput formControlName="locPlecare">
        </mat-form-field>
      </div>

      <div class="elem">
        <mat-form-field appearance="fill">
          <mat-label> Loc sosire </mat-label>
          <input matInput formControlName="locSosire">
        </mat-form-field>
      </div>

      <div class="elem">
        <mat-form-field appearance="fill">
          <mat-label> Pret camion gol lei/km </mat-label>
          <input matInput formControlName="pretGol">
        </mat-form-field>
      </div>

      <div class="elem">
        <mat-form-field appearance="fill">
          <mat-label> Pret camion plin lei/km</mat-label>
          <input matInput formControlName="pretPlin">
        </mat-form-field>
      </div>

      <div class="elem">
        <mat-form-field appearance="fill">
          <mat-label> Alte detalii</mat-label>
          <textarea matInput formControlName="detalii"></textarea>
        </mat-form-field>
      </div>

    </form>
  </div>

  <mat-toolbar class="toolbar">
    <mat-toolbar-row>
      <h1 class="toolbar-title">Alege un Camion:</h1>
    </mat-toolbar-row>
  </mat-toolbar>

  <div *ngFor="let truck of myTrucks">
    <button mat-raised-button class="id-button" (click)="clickTruck(truck)">
      <!--            [ngStyle]="{'color': truck.status === 'in asteptare'? 'green' : 'red'}"-->
      <!--            (click)="clickTruck(truck)">-->
      {{truck.id}}
    </button>
  </div>

<!--  <button mat-raised-button class="add-offer-button" (click)="addOfferClick()" > Adauga </button>-->

  <br>
  <br>
  <br>
  <br>
</mat-card>
