<p>
  <mat-toolbar class="toolbar">
    <span class="toolbar-title">My App</span>
    <span class="example-spacer"></span>
  </mat-toolbar>
</p>

<div class="buttons">
  <button mat-raised-button class="createButton">
    <a class="text">Creeaza</a>
    <br>
    <a class="text">cerere/oferta</a>
  </button>
  <button mat-raised-button color="" class="mapButton">
    <a class="text">Harta</a>
  </button>
  <button mat-raised-button class="profileButton">
    <a class="text">Datele mele</a>
  </button>
  <button mat-raised-button class="viewButton">
    <a class="text">Vizualizare</a>
    <br>
    <a class="text">cereri/oferte</a>
  </button>
  <button mat-raised-button class="filesButton">
    <a class="text">Contractele</a>
    <br>
    <a class="text">mele</a>
  </button>
  <button mat-raised-button class="logoutButton">
    <a class="text">Log out</a>
  </button>
</div>
