<p>
  <mat-toolbar class="toolbar">
    <span class="toolbar-title">My App</span>
    <span class="example-spacer"></span>
  </mat-toolbar>
</p>

<div *ngIf ="transportator()" class="buttons">
<!--  <div *ngIf ="transportator()">-->
  <button mat-raised-button class="createButton" (click)="clickCreateOffer()">
    <a class="text">Creeaza</a>
    <br>
    <a class="text">oferta</a>
  </button>
<!--  </div>-->
  <button mat-raised-button color="" class="mapButton" (click)="clickMap()">
    <a class="text">Harta</a>
  </button>
  <button mat-raised-button class="profileButton" (click)="clickMyProfile()">
    <a class="text">Datele mele</a>
  </button>
  <button mat-raised-button class="myTrucks" (click)="clickMyTrucks()">
    <a class="text">Camioanele</a>
    <br>
    <a class="text">mele</a>
  </button>
<!--  <div *ngIf ="transportator()">-->
  <button mat-raised-button class="viewButton" (click)="clickViewRequests()">
    <a class="text">Vizualizare</a>
    <br>
    <a class="text">cereri</a>
  </button>
<!--  </div>-->
  <button mat-raised-button class="filesButton" (click)="clickMyContracts()">
    <a class="text">Contractele</a>
    <br>
    <a class="text">mele</a>
  </button>
  <button mat-raised-button class="logoutButton" (click)="logout()">
    <a class="text">Log out</a>
  </button>
</div>

<div *ngIf ="expeditor()" class="buttons">
  <!--  <div *ngIf ="transportator()">-->
  <button mat-raised-button class="createButton2" (click)="clickCreateRequest()">
    <a class="text">Creeaza</a>
    <br>
    <a class="text">cerere</a>
  </button>
  <!--  </div>-->
  <button mat-raised-button class="profileButton2" (click)="clickMyProfile()">
    <a class="text">Datele mele</a>
  </button>
  <!--  <div *ngIf ="transportator()">-->
  <button mat-raised-button class="viewButton2" (click)="clickViewOffers()">
    <a class="text">Vizualizare</a>
    <br>
    <a class="text">oferte</a>
  </button>
  <!--  </div>-->
  <button mat-raised-button class="filesButton2" (click)="clickMyContracts()">
    <a class="text">Contractele</a>
    <br>
    <a class="text">mele</a>
  </button>
  <button mat-raised-button class="logoutButton2" (click)="logout()">
    <a class="text">Log out</a>
  </button>
</div>

<div *ngIf ="admin()" class="adminButtons">
  <!--  <div *ngIf ="transportator()">-->
  <button mat-raised-button class="adminCreateButton" (click)="clickCreateRequest()">
    <a class="text">Creeaza</a>
    <br>
    <a class="text">cerere</a>
  </button>

  <button mat-raised-button class="adminCreateButton2" (click)="clickCreateOffer()">
    <a class="text">Creeaza</a>
    <br>
    <a class="text">oferta</a>
  </button>
  <!--  </div>-->
  <button mat-raised-button color="" class="adminmapButton" (click)="clickMap()">
    <a class="text">Harta</a>
  </button>
  <button mat-raised-button class="adminmyTrucks" (click)="clickMyTrucks()">
    <a class="text">Camioanele</a>
    <br>
    <a class="text">mele</a>
  </button>
  <!--  <div *ngIf ="transportator()">-->
  <button mat-raised-button class="adminviewButton" (click)="clickViewRequests()">
    <a class="text">Vizualizare</a>
    <br>
    <a class="text">cereri</a>
  </button>
  <button mat-raised-button class="adminviewButton2" (click)="clickViewOffers()">
    <a class="text">Vizualizare</a>
    <br>
    <a class="text">oferte</a>
  </button>
  <!--  </div>-->
  <button mat-raised-button class="adminprofileButton2" (click)="clickMyProfile()">
    <a class="text">Datele mele</a>
  </button>
  <!--  <div *ngIf ="transportator()">-->

  <!--  </div>-->
  <button mat-raised-button class="adminfilesButton2" (click)="clickMyContracts()">
    <a class="text">Contractele</a>
    <br>
    <a class="text">mele</a>
  </button>
  <button mat-raised-button class="adminlogoutButton2" (click)="logout()">
    <a class="text">Log out</a>
  </button>
</div>
