.menu {
  font-size: x-large;
  font-weight: bolder;
  color: #336805;
  width: 100px;
  height: 50px;
}
.viewDiv {
  font-size: xxx-large;
  width: 1000px;
  height: 1000px;
}
.map {
  width: 100%;
  height: 900px;
}
.arcgis-div {
  height: 1000px;
  width: 100%;
}
