<button mat-raised-button class="back" (click)="clickBack()"> Inapoi </button>

<a class="profile1">Detalii cerere:</a>
<mat-card class="card">
  <div class="elem-div">
    <a class="elem">Id:</a>
    <a class="elem2">{{id}}</a>
  </div>
  <div class="elem-div">
    <a class="elem">Loc plecare:</a>
    <a class="elem2">{{locPlecare}}</a>
  </div>
  <div class="elem-div">
    <a class="elem">Loc sosire:</a>
    <a class="elem2">{{locSosire}}</a>
  </div>
  <div class="elem-div">
    <a class="elem">Tip marfa:</a>
    <a class="elem2">{{tipMarfa}}</a>
  </div>
  <div class="elem-div">
    <a class="elem">Data plecare:</a>
    <a class="elem2">{{dataPlecare}}</a>
  </div>
  <div class="elem-div">
    <a class="elem">Data maxima plecare:</a>
    <a class="elem2">{{dataMaximaPlecare}}</a>
  </div>
  <div class="elem-div">
    <a class="elem">Data sosire:</a>
    <a class="elem2">{{dataMaximaSosire}}</a>
  </div>
  <div class="elem-div">
    <a class="elem">Masa:</a>
    <a class="elem2">{{masa}}</a>
  </div>
  <div class="elem-div">
    <a class="elem">Volum:</a>
    <a class="elem2">{{volum}}</a>
  </div>
  <div class="elem-div">
    <a class="elem">Detalii:</a>
    <a class="elem2">{{detalii}}</a>
  </div>
</mat-card>
<button mat-raised-button class="similar" (click)="clickSimilar()"> Sugestii </button>
