<button mat-raised-button class="back" (click)="clickBack()"> Inapoi </button>
<a class="profile1">Detalii oferta:</a>
<mat-card class="card1">
  <div class="elem-div">
    <a class="elem">Id:</a>
    <a class="elem2">{{id}}</a>
  </div>
  <div class="elem-div">
    <a class="elem">Loc plecare:</a>
    <a class="elem2">{{locPlecare}}</a>
  </div>
  <div class="elem-div">
    <a class="elem">Loc sosire:</a>
    <a class="elem2">{{locSosire}}</a>
  </div>
  <div class="elem-div">
    <a class="elem">Data plecare:</a>
    <a class="elem2">{{dataPlecare}}</a>
  </div>
  <div class="elem-div">
    <a class="elem">Data sosire:</a>
    <a class="elem2">{{dataSosire}}</a>
  </div>
  <div class="elem-div">
    <a class="elem">Pret camion gol:</a>
    <a class="elem2">{{pretCamionGol}}</a>
  </div>
  <div class="elem-div">
    <a class="elem">Pret camion plin:</a>
    <a class="elem2">{{pretCamionPlin}}</a>
  </div>
  <div class="elem-div">
    <a class="elem">Status:</a>
    <a class="elem2">{{statusOferta}}</a>
  </div>
  <div class="elem-div">
    <a class="elem">Detalii:</a>
    <a class="elem2">{{detalii}}</a>
  </div>
</mat-card>

<a class="profile2">Detalii camion:</a>
<mat-card class="card2">
  <div class="elem-div">
    <a class="elem">Id:</a>
    <a class="elem2">{{idCamion}}</a>
  </div>
  <div class="elem-div">
    <a class="elem">Status:</a>
    <a class="elem2">{{status}}</a>
  </div>
  <div class="elem-div">
    <a class="elem">Locatie:</a>
    <a class="elem2">{{locatie}}</a>
  </div>
  <div class="elem-div">
    <a class="elem">Volum:</a>
    <a class="elem2">{{volum}}</a>
  </div>
  <div class="elem-div">
    <a class="elem">Gabarit:</a>
    <a class="elem2">{{gabarit}}</a>
  </div>
  <div class="elem-div">
    <a class="elem">Greutate:</a>
    <a class="elem2">{{greutate}}</a>
  </div>
  <div class="elem-div">
    <a class="elem">Detalii:</a>
    <a class="elem2">{{detaliiCamion}}</a>
  </div>
</mat-card>

<button mat-raised-button class="similar" (click)="clickSimilar()"> Sugestii </button>
